<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
  <label>Name: </label><input type="text" id=":landmark_name" name="landmark[name]" value=""><br><br>
  <label>Year Completed: </label><input type="text" id=":landmark_year" name="landmark[year_completed]" value=""><br><br>
  <h3><label>Titles:</label></h3>
  <% Title.all.each do |t| %>
  <label><%=t.name%> </label><input type="checkbox" id="<%t.name%>" name="figure[title_ids][]" value="<%=t.name%>"></input><br>
  <%end%>
  <h3><label>Create New Title:</label></h3>
  <input type="text" id="title[name]" name="title[name]" value=""></input>
  <h3/><label>Landmarks:</label></h3>
  <% Landmark.all.each do |l| %>
  <label><%=l.name%> </label><input type="checkbox" id="<%=l.name%>" name="figure[landmark_ids][]" value="<%=l.name%>"></input><br>
  <%end%>
  <h3><label>Create New Landmark</label></h3>
  <label>Name: </label><input type="text" id="landmark[name]" name="landmark[name]" value=""></input>
  <label>Year: </label><input type="text" id="landmark[year]" name="landmark[year]" value=""></input>
  <input type="submit" value="Create New Figure">
</form><br>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
